#author-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $text-light;
  background: {
    color: $background-dark;
    image: url("/src/assets/img/volcano.png");
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  #author-title {
    @include margin('y', 4);
    @include responsive-text(48);
    color: $red-variant;
  }

  #about-author {
    width: $constraints;
    margin: auto auto;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    @include device(s) {
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      flex-direction: column;
    }
  }

  #author-caption {
    display: flex;
    flex-direction: column;
    width: 50%;
    @include margin('b', 4);
    @include responsive-text(24, regular);

    span {
      color: $red-variant;
      font-weight: 500;
    }

    p {

      @include margin('y', 2);
    }

    @include device(s) {
      width: $constraints;
    }
  }

  #author-image {
    display: flex;
    justify-content: center;

    img {
      border-radius: $default-border-radius;
      width: 80%;
      align-self: center;
      @include margin('b', 4);
      @include device(s) {
        width: 50%;
      }
    }

  }

}