#author-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $text-light;
  background: {
    color: $background-dark;
    image: url("/src/assets/img/volcano.png");
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  #author-title {
    @include margin('y', 4);
    @include responsive-text(48);
    color: $red-variant;
  }

  #about-author {
    width: $constraints;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
  }

  #author-caption {
    display: flex;
    flex-direction: column;
    width: 50%;
    @include margin('b', 4);
    @include responsive-text(24, regular);

    span {
      color: $red-variant;
      font-weight: 500;
    }

    p {

      @include margin('y', 2);
    }
  }

  #author-image {
    display: flex;
    justify-content: end;

    img {
      border-radius: $default-border-radius;
      width: 70%;
    }

  }

}