@use '../colors.scss' as colors;

#for-who-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: {
    color: colors.$background-dark;
    image: url('/src/assets/img/color-pixel-stars.gif');
    repeat: repeat;
    position: center;
    size: contain;
  }
  color: colors.$text-light;

  h1 {
    @include padding('y', 4);
    @include responsive-text(48);
  }
}
