@use '../colors' as colors;

#method-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background: {
    image: url("/src/assets/img/mesh-gradient-dark.jpg");
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  p {
    color: colors.$text-light;
    @include padding('all', 4);
    @include responsive-text(48);
  }


  #method-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto auto;
    width: $constraints;


    #method-card {
      width: 75%;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 auto;
      border-radius: $default-border-radius;
      transition: 0.25s;
      @include margin('y', 4);

      &:hover {
        scale: 1.05;
      }

      h2 {
        @include responsive-text(32);
        color: $background-light;
      }

      &:nth-child(1) {
        transform: rotate(-1deg);

        #method-card-title {
          background-image: linear-gradient(to right, colors.$blue-variant, colors.$light-blue-variant);
        }

        p {
          color: colors.$light-blue-variant;
        }

      }

      &:nth-child(2) {
        transform: rotate(1deg);

        #method-card-title {
          background-image: linear-gradient(to right, colors.$red-variant, colors.$orange-variant);
        }


        p {
          color: colors.$red-variant;
        }
      }

      &:nth-child(3) {
        transform: rotate(-1deg);
        @include margin('b', 4);

        #method-card-title {
          background-image: linear-gradient(to right, colors.$purple-variant, colors.$pink-variant);
        }

        p {
          color: colors.$purple-variant;
        }
      }

      #method-card-title {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        height: rem(128);
        border-radius: $default-border-radius;

        h1 {
          @include responsive-text(32);
          @include padding('x', 2);
          color: colors.$text-light;
        }
      }

      p {
        &:nth-child(1) {
          @include responsive-text(32)
        }

        &:nth-child(2) {
          @include responsive-text(24, regular)
        }
      }
    }
  }

}