#mission-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $text-light;

  background: {
    color: $background-dark;
    image: url("/src/assets/img/sirius.jpg");
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  #mission-title {
    @include margin('y', 4);
    @include responsive-text(48);
    color: $blue-variant;
  }

  #mission-author {
    width: $constraints;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #mission-caption {
    display: flex;
    flex-direction: column;

    width: 100%;
    @include margin('b', 4);
    @include responsive-text(24, regular);

    p {
      @include margin('y', 2);
    }

    span {
      color: $blue-variant;
      font-weight: 500;
    }

    #mission-topic {
      display: flex;
      align-items: center;
      justify-content: center;

      img {

        width: 3%;
        @include margin('r', 1);

      }

      p {
        width: 75%;
      }
    }
  }
}