@use '../colors' as colors;

#modules-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: {
    image: url("/src/assets/img/mesh-gradient-1.jpg");
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  #modules-title {
    @include padding('all', 4);
    @include responsive-text(48);
    color: colors.$text-dark;
  }

  #module-cards-container {
    width: $constraints;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: rem(32);

    #module-card {
      width: 37.5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: $default-border-radius;
      transition: 0.25s;


      &:hover {
        transform: translateY(-4px);
      }

      #module-img-container {
        width: 100%;
        object-fit: cover;

        img {
          opacity: 0.975;
          height: 100%;
          width: 100%;
          border-top-left-radius: $default-border-radius;
          border-top-right-radius: $default-border-radius;
          filter: contrast(80%);
          transition: 0.5s;

          &:hover {
            filter: contrast(90%);
          }
        }
      }

      #module-card-text-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-bottom-left-radius: $default-border-radius;
        border-bottom-right-radius: $default-border-radius;
        @include glass();

        p {
          @include padding('t', 1);

          &:nth-child(1) {
            @include responsive-text(24);
            color: colors.$text-dark;
          }

          &:nth-child(2) {
            @include padding('all', 1);
            @include responsive-text(24, regular);
            color: colors.$text-dark;
          }
        }
      }
    }

    #module-information {
      width: 37.5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      div {
        width: 87.5%;
        border-radius: $default-border-radius;
        @include glass();
        @include padding('all', 1);

        h1 {
          @include responsive-text(48);
          color: colors.$text-dark;
        }

        h2 {
          @include responsive-text(32);
        }

        .beige {
          color: colors.$red-variant;
        }

        .pink {
          color: colors.$pinky-variant;
        }

        .blue {
          color: colors.$light-blue-variant;
        }
      }
    }
  }
}
