@use '../colors' as colors;

#modules-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: {
    image: url("/src/assets/img/mesh-gradient-1.jpg");
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  #modules-title {
    @include padding('all', 4);
    @include responsive-text(48);
    color: colors.$text-dark;
  }

  #module-cards-container {
    width: $constraints;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: rem(32);
    @include padding('b', 4);


    #module-card {
      width: 30%;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: $default-border-radius;
      transition: 0.25s;

      &:hover {
        transform: translateY(-4px);
      }

      #module-img-container {
        width: 100%;

        overflow: hidden;
        object-fit: cover;

        img {
          opacity: 1;
          height: auto;
          width: 100%;
          border-top-left-radius: $default-border-radius;
          border-top-right-radius: $default-border-radius;
          filter: contrast(90%);
          transition: 0.5s;

          &:hover {
            filter: contrast(100%);
          }
        }
      }

      #module-card-text-container {
        width: 100%;
        flex-grow: 1;
        object-fit: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        border-bottom-left-radius: $default-border-radius;
        border-bottom-right-radius: $default-border-radius;
        @include glass();

        p {
          @include padding('all', 1);

          &:nth-child(1) {
            @include responsive-text(24);
            color: colors.$text-dark;
          }

          &:nth-child(2) {
            @include padding('all', 1);
            @include responsive-text(20, regular);
            color: colors.$text-dark;
          }
        }
      }
    }

    #module-information {
      width: 100%;
      flex-grow: 3;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      div {
        flex-grow: 1;
        width: 50%;
        margin: 0 auto;
        border-radius: $default-border-radius;

        @include padding('all', 1);
        @include margin('y', 2);

        @include glass();

        transition: 0.25s;

        &:hover {
          transform: translateY(-4px);
        }

        &:nth-child(1) {
          background-color: cornflowerblue;
          opacity: 0.8;
        }

        &:nth-child(2) {
          background-color: lightcoral;
          opacity: 0.8;
        }

        &:nth-child(3) {
          background-color: orange;
          opacity: 0.8;
          margin: 0 auto;
        }

        h1 {
          @include responsive-text(48);
          color: colors.$text-dark;
        }

        h2 {
          @include responsive-text(32);
        }

        .beige {
          color: colors.$red-variant;
        }

        .pink {
          color: colors.$pinky-variant;
        }

        .blue {
          color: colors.$light-blue-variant;
        }
      }
    }
  }

  button {
    @include padding('all', 2);
    @include padding('x', 4);
    @include margin('b', 4);
    @include night-button(colors.$text-light);
  }
}
