@use '../colors.scss' as colors;

#pain-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  //Section Title
  #pain-title {
    p {
      color: colors.$text-dark;
      @include responsive-text(32);
    }

    @include margin('all', 2);
  }
}

#pain-button-container {
  @include margin('all', 2);

  button {
    @include night-button(colors.$text-light);
    @include margin('all', 1);
  }
}

//Problems

#pain-problems {
  width: 100%;
  display: flex;
  flex-direction: column;
}