@use '../colors' as colors;

#payment-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: {
    color: colors.$background-dark;
    image: url('/src/assets/img/blobs.png');
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  #payment-title {
    color: colors.$text-light;
    @include responsive-text(48);
    @include margin('y', 4);
  }
}