@use '../variables' as variables;
@use '../colors.scss' as colors;

#buy-button {
  border-radius: variables.$default-border-radius;
  @include responsive-text(20, medium);
  @include padding('y', 1);
  @include padding('x', 2);
  transition: 0.25s;

  &:hover {
    scale: 1.1;
  }
}

@mixin sunset-button($text-color) {
  color: $text-color;
  background: linear-gradient(
                  to right,
                  colors.$red-variant,
                  colors.$orange-variant);
}

@mixin night-button($text-color) {
  color: $text-color;
  background: linear-gradient(
                  to right,
                  colors.$purple-variant,
                  colors.$blue-variant
  );
}

@mixin rainbow-button($text-color) {
  color: $text-color;
  background: linear-gradient(
                  to right,
                  colors.$list-rainbow,
  );
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include padding('all', 1);
}


