@use '../variables' as variables;
@use '../colors.scss' as colors;

#buy-button {
  border-radius: variables.$default-border-radius;
  @include responsive-text(16, medium);
  @include padding('y', 1);
  @include padding('x', 2);
  transition: 0.25s;
  &:hover {
    scale: 1.2;
  }
}

@mixin buy-button($variant: 'sunset', $text-color) {
  color: $text-color;
  @if $variant == 'sunset' {
    background: linear-gradient(
      to right,
      colors.$red-variant,
      colors.$orange-variant
    ) !important;
  }
  @if else $variant == 'night' {
    background: linear-gradient(
      to right,
      colors.$purple-variant,
      colors.$blue-variant
    );
  }
}
