@use '../colors.scss' as colors;

#for-who-content {
  min-height: 100vh;
  width: $constraints;
  display: flex;
  margin: auto auto;

  @include device(s) {
    min-height: auto;
    flex-direction: column;
  }

  #for-who-topics {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include device(s) {
      width: 100%;
    }

    #rotating-crystal {
      opacity: 0.875;
      max-width: 7%;
      @include padding('r', 1);
    }

    p {
      @include responsive-text(28, regular);
    }

    div {
      display: flex;
      align-items: center;
      @include padding('y', 2);

      strong {
        font-weight: 500;
      }

      &:nth-child(1) {
        strong {
          color: colors.$pink-variant;
        }
      }

      &:nth-child(2) {
        strong {
          color: colors.$green-variant;
        }
      }

      &:nth-child(3) {
        strong {
          color: colors.$cyan-variant;
        }
      }
    }
  }

  #for-who-book {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;

    #book {
      opacity: 0.875;
      max-width: 75%;
      @include animation-floating();
    }

    @include device(s) {
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      #book {
        max-width: 100%;
        @include padding('b', 4);
      }
    }
  }
}
