@use '../variables' as variables;
@use '../colors' as colors;
@import '../functions';

#header {
  @include padding('t', 4);
  margin: 0 auto;
  width: variables.$constraints;
  display: flex;
  justify-content: space-between;
  align-items: center;

  //Nabar Components
  #logo {
    width: rem(96);
    height: rem(96);
  }

  //Navbar Links
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;

    li {
      @include padding('x', 1);

      a {
        color: colors.$navbar-text;
        transition: 0.333s;

        &:hover {
          color: colors.$primary;
        }
      }
    }
  }

  #buy-button {
    @include sunset-button(colors.$background-dark);
  }

  // @include responsive-text(18, 400);
  // .logo {
  //   width: rem(96);
  // }

  //Media Queries
  @include device(m) {
    width: variables.$constraints;
    justify-content: center;
    button {
      display: none;
    }
  }

  @include device(s) {
    justify-content: center;

    ul,
    button {
      display: none;
    }
    img {
      width: rem(64);
    }
  }
}
