@use '../colors.scss';
$colors: (#99a2fe, #7d89ff, #6674ff, #ff9356, #ffac7d, #ffddbe);

#pain-problem {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @each $color in $colors {
    $i: index($colors, $color);
    &:nth-child(#{$i}) {
      background-color: #{$color};
    }
  }
  @include padding('all', 2);
  p {
    color: colors.$text-dark;
    &:nth-child(1) {
      @include responsive-text(64);
    }
    &:nth-child(2) {
      @include responsive-text(32, semi-bold);
      @include padding('y', 2);
    }
    &:nth-child(3) {
      @include responsive-text(24, regular);
    }
  }
}
