@use '../colors' as colors;

$benefits-colors: (#5cfbec, #0167ff, #ff5aa5, #ffbda0);

#payment-content {
  width: $constraints;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #rainbow-separator {
    width: 100%;
    height: rem(8);
    border-radius: $default-border-radius;
    background: linear-gradient(to right, $list-rainbow);
  }

  #payment-info-container {
    display: flex;
  }

  #payment-call {
    width: 35%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    @include margin('r', 4);

    p {
      &:nth-child(1),
      &:nth-child(2) {
        @include responsive-text(48);
        color: colors.$text-light;
      }

      &:nth-child(3) {
        @include responsive-text(24, regular);
        @include padding('y', 2);
        color: colors.$text-gray;
      }
    }

    button {
      @include night-button(colors.$text-light);
    }
  }

  #prices-comparison-container {
    width: 65%;
    display: flex;
    flex-direction: column;

    #prices-comparison {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: colors.$text-light;
      transition: 0.5s;
      @include margin('b', 4);

      &:hover {
        border-radius: $default-border-radius;
        @include dark-glass();
        @include padding('all', 1);
      }

      #prices-title {
        display: flex;


        p {
          @include margin('r', 1);
          @include responsive-text(48);
        }

        h2 {
          display: flex;
          align-items: center;
          text-align: start;
          @include responsive-text(20);
        }
      }

      h1 {
        display: flex;
        justify-content: end;
        text-align: center;
        @include responsive-text(32);
      }
    }
  }

  #payment-final-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    #payment-benefit {
      color: white;
      @include padding('b', 2);

      h1 {
        @include responsive-text(48);
      }

      p {
        @include responsive-text(24);
        @include margin('y', 2);
        @each $color in $benefits-colors {
          $i: index($benefits-colors, $color);
          &:nth-child(#{$i}) {
          }
        }
      }
    }


    #payment-final {
      display: flex;
      flex-direction: column;
      justify-content: center;

      #payment-final-benefits {
        display: flex;
        justify-content: center;
        text-align: start;
        align-items: center;
        color: colors.$text-light;
        border-radius: $default-border-radius;
        width: 100%;
        margin: 0 auto;

        button {
          @include sunset-button(colors.$text-dark);
          @include margin('t', 4);

          width: 50%;
        }

        #payment-box {

          @include responsive-text(24);
          @include padding('b', 1);

        }
      }

      #payment-final-price {
        display: flex;
        justify-content: center;
        text-align: center;
        color: colors.$text-light;
        border-width: rem(8) !important;
        border-style: solid !important;
        border-image: linear-gradient(to bottom, colors.$list-rainbow) 1 !important;
        @include dark-glass();
        @include padding('all', 5);

        button {
          width: 100%;
          @include animation-scaling();
          @include night-button(colors.$text-light)
        }

        #old-price {
          color: $text-gray;

          @include responsive-text(32);
          @include margin('b', 1);

          span {
            text-decoration: line-through;
            @include responsive-text(24);
          }

          h1 {
            text-decoration: line-through;
          }
        }

        #installments {
          display: flex;
          justify-content: center;

          p {
            &:nth-child(1) {
              color: colors.$primary;
              @include responsive-text(24);
            }

            &:nth-child(2) {
              @include responsive-text(48);
            }
          }
        }

        #ou {
          @include padding('y', 1);
        }

        #entire {
          #entire-title {
            display: flex;
            justify-content: center;
            align-items: center;
            @include padding('x', 1);

            h1 {
              &:nth-child(2) {
                color: colors.$cyan-variant;
                @include responsive-text(20, regular);
              }

              span {
                @include responsive-text(16, regular);
              }

              h2 {
                margin-top: rem(4);
              }
            }
          }

          h1 {
            @include responsive-text(24);
            @include margin('b', 2);

            h2 {
              @include responsive-text(20);
              @include margin('b', 2);
              color: colors.$purple-variant;
            }

            div {

              border-radius: $default-border-radius;
              @include dark-glass();
              @include padding('all', 1);

              h3 {
                color: colors.$green-variant;
                @include responsive-text(32);
              }

              h4 {
                @include responsive-text(16)

              }
            }
          }
        }
      }

    }
  }
}

