#warranty-banner {
  width: 100%;
  margin: 0 auto;
  @include margin('b', 4);

  img {
    max-width: 35%;
  }


  p {
    @include responsive-text(24, regular);
    color: $text-dark;
  }

  img, p {
    @include margin('all', 1);
  }

}