//Colors

//Primary Colors

$primary: #f357aa;

$background-dark: #121212;

$background-light: #ffffff;

//Text Colors

$navbar-text: #bcbcbc;

$text-light: #ffffff;

$text-dark: #202233;

//Usecase Colors

$orange-variant: #ffab7b;

$red-variant: #ff5151;

$purple-variant: #8f73ff;

$blue-variant: #495bff;

//Gradients Color List

$list-rainbow: rgba(95, 255, 236, 1) 0%, rgba(0, 102, 255, 1) 33%,
  rgba(255, 86, 166, 1) 66%, rgba(255, 189, 160, 1) 100%;

//Create Gradient
@mixin gradient($direction, $color-list) {
  background: -webkit-linear-gradient($direction, $color-list);
  background: -moz-linear-gradient($direction, $color-list);
  background: -o-linear-gradient($direction, $color-list);
  background: linear-gradient($direction, $color-list);
}
